# ======================
# BACKEND FILES
# ======================
data/
vendor/

# ======================
# BACKEND FILES
# ======================
node_modules/
dist/
mockups/

# ======================
# CLAUDE FILES
# ======================
.claude/agent-memory
.claude/plans
.playwright-mcp/

# ======================
# MISC FILES
# ======================
.env
TODO.md
tests/
scripts/